In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cols = ['loan_amnt', 'int_rate', 'installment']
data = pd.read_csv('loan.csv', nrows = 30000, usecols = cols)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   loan_amnt    30000 non-null  int64
 1   int_rate     30000 non-null  float64
 2   installment  30000 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 703.2 KB

In [4]:
data.describe()

          loan_amnt      int_rate   installment
count  30000.000000  30000.000000  30000.000000
mean   15941.940000     12.948691    461.282355
std    10257.787699      4.880157    287.407671
min     1000.000000      6.000000     30.640000
25%     8000.000000      8.810000    248.400000
50%    13800.000000     11.800000    380.660000
75%    22000.000000     16.140000    622.700000
max    40000.000000     30.840000   1618.240000

# Standartization (Standard Scalar)

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
data_scaled = scaler.fit_transform(data)

In [7]:
print(data_scaled.mean(axis=0))
print(data_scaled.std(axis=0))

[-8.71599089e-17  1.77635684e-18  3.03164901e-17]
[1. 1. 1.]

In [8]:
print('Min values (Loan Amount, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max values (Loan Amount, Int rate and Installment): ', data_scaled.max(axis=0))

Min values (Loan Amount, Int rate and Installment):  [-1.4566678  -1.42389012 -1.49839262]
Max values (Loan Amount, Int rate and Installment):  [2.34538496 3.66619529 4.02556036]

# Normalization

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
data_scaled = scaler.fit_transform(data)

In [10]:
print('means (Loan Amount, Int rate and Installment): ', data_scaled.mean(axis=0))
print('std (Loan Amount, Int rate and Installment): ', data_scaled.std(axis=0))

means (Loan Amount, Int rate and Installment):  [0.38312667 0.27973796 0.27125369]
std (Loan Amount, Int rate and Installment):  [0.26301581 0.19646036 0.18102978]

In [11]:
print('Min (Loan Amount, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max (Loan Amount, Int rate and Installment): ', data_scaled.max(axis=0))

Min (Loan Amount, Int rate and Installment):  [0. 0. 0.]
Max (Loan Amount, Int rate and Installment):  [1. 1. 1.]

# Robust Scalar (Scaling to median and quantiles)

In [12]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler() 
data_scaled = scaler.fit_transform(data)